*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #e5eff5;
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  justify-content: center;
  min-height: 100vh;
  padding: 72px 32px 62px 32px;
}

.container {
  background-color: #e5eff5;
  border-radius: 8px;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 375px;
}

/* Section One */
.section_one {
  padding: 28px 24px 32px 24px;
  width: 100%;
}

.section_one h1 {
  color: #2ab2af;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.25px;
  line-height: normal;
  margin-bottom: 24px;
}

.green {
  color: #c0df34;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.187px;
  line-height: 20px;
  margin-bottom: 16px;
}

.section_one p:last-child {
  color: #98a7bd;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.175px;
  line-height: 26px;
}

.section_two {
  width: 100%;
}

/* Section two -> container one */
.container_one {
  background-color: #2ab2af;
  padding: 24px;
}

.container_one h2 {
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.225px;
  line-height: normal;
}

.dollar {
  align-items: center;
  display: flex;
}

.dollar p:first-child {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 11px;
}

.dollar p:last-child {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.5;
}

.container_one > p {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 26px;
}

button {
  background-color: #c0df34;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 700;
  padding: 15px 0;
  width: 100%;
}

/* Section two -> container two */
.container_two {
  background-color: #2fcac8;
  padding: 24px;
}

.container_two h2 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.225px;
  line-height: normal;
  margin-bottom: 18px;
}

.container_two ul {
  list-style-type: none;
}

.container_two ul li {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.75;
}

/* Footer */
footer {
  margin-top: 20px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .container {
    max-width: 635px;
  }

  .section_one,
  .container_one,
  .container_two {
    padding: 40px;
  }

  .section_two {
    display: flex;
  }

  .container_one {
    border-bottom-left-radius: 8px;
    padding: 40px;
    width: 50%;
  }

  .container_one > p {
    margin-bottom: 20px;
  }

  .container_two {
    border-bottom-right-radius: 8px;
    padding: 40px;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .section_one h1 {
    font-size: 1.5rem;
  }

  .green {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .section_one p:last-child {
    font-size: 1rem;
  }

  .container_two p {
    font-size: 0.9375rem;
  }
}
